<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
            <section name="Gurux.DLMS.Conformance.Test.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false"/>
        </sectionGroup>
    </configSections>
    <userSettings>
        <Gurux.DLMS.Conformance.Test.Properties.Settings>
            <setting name="SelectedManufacturer" serializeAs="String">
                <value/>
            </setting>
            <setting name="Authentication" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="HDLCAddressing" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="Media" serializeAs="String">
                <value/>
            </setting>
            <setting name="MediaSettings" serializeAs="String">
                <value/>
            </setting>
            <setting name="ClientAddress" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="PhysicalServerAddress" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="LogicalServerAddress" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="WaitTime" serializeAs="String">
                <value>0</value>
            </setting>
        </Gurux.DLMS.Conformance.Test.Properties.Settings>
    </userSettings>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/></startup></configuration>
